.container {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #25bcb9;
    border-radius: 5px;
    background-color: #0a485b;
    color: white;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

select,
input[type="date"],
textarea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #25bcb9; /* Change border property */
    border-radius: 5px;
    background-color: #25bcb927;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #25bcb9;
}

@keyframes clickAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.clicked {
    animation: clickAnimation 0.5s ease;
}


.certificate {
    width: 200mm; /* Adjust width to fit within A4 size */
    height: 287mm; /* Adjust height to fit within A4 size */
    margin-bottom: 20px;
}


.certificate-content {
  position: relative;
}

.text-overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  
  .name {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
  
  .date {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  
/*
  .text-overlay img {
    margin-bottom: 10px;
    width: fit-content;
    height: 50px;
    position: relative;
    top: 430px; 
    left: 600px; 
  } 
  */

.text-overlay h2,
.text-overlay p {
  margin: 5px;
}

p {
    margin: 10px;
}

h1 {
    margin: 0;
}

body {
    background-color: #0a2930;
}

input[type="date"] {
    width: calc(100% - 16px); /* Adjust according to your padding */
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor:pointer;
}

textarea {
    width: calc(100% - 16px); /* Adjust according to your padding */
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor:auto;
}

select {
    cursor: pointer;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    
}

p {
    font-family: Arial, Helvetica, sans-serif;
    
}

label {
    font-family: Arial, Helvetica, sans-serif;
    
}

.ashtonslogo img {
    float: right;
    margin: 0px;
    max-width: 150px;
}

img {
    width: 297mm;
    height: auto;
}

.date2 {
    position: relative;
    left: 775px;
    bottom: 109px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
}

img.signature1 {
    position: absolute;
    width: 150px;
    height: auto;
    left: 790px;
    top: 580px;

}

.date1 {
    position: relative;
    right: 135px;
    text-align: right;
    top: 539px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 600;
    font-size: 14pt;
}


.name {
    position: relative;
    right: 135px;
    top: 94px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 500;
    font-size: 44pt;
    text-align: right;
    color: #f16722;
}

/* Add styles for the certificate wrapper */
.certificate-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/* Add styles for the download button */
.certificate {
    position: relative;
}

.downloadCertificate {
    position: absolute;
    top: 50%;
    right: 10px; /* Adjust as needed */
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.downloadCertificate img {
    width: 30px; /* Adjust as needed */
    height: 24px; /* Adjust as needed */
    left: 390px;
    position: absolute;
    top: 208px;
}

.downloadCertificate:hover img {
    /* Add hover styles for the image */
    /* For example, change image color */
    filter: brightness(0.6); /* Adjust as needed */
}

/* CERTIFICATE DETAILS */

/* Add styles for the name on Anaphylaxis certificate */
.name-anaphylaxis {
    position: relative;
    right: 135px;
    top: -2px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 500;
    font-size: 44pt;
    text-align: right;
    color: #f16722;
}

/* Add styles for the date1 on Anaphylaxis certificate */
.date1-anaphylaxis {
    position: relative;
    right: 135px;
    text-align: right;
    top: 441px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 600;
    font-size: 14pt;
}

/* Add styles for the date2 on Anaphylaxis certificate */
.date2-anaphylaxis {
    position: relative;
    left: 775px;
    bottom: 128px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
}


.signature1-anaphylaxis {
    position: absolute;
    width: 150px;
    height: auto;
    left: 790px;
    top: 560px;
}

/*============================================*/

.date1-asthma {
    position: relative;
    right: 135px;
    text-align: right;
    top: 430px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 600;
    font-size: 14pt;
}

.date2-asthma {
    position: relative;
    left: 775px;
    bottom: 159px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
}


.signature1-asthma {
    position: absolute;
    width: 150px;
    height: auto;
    left: 790px;
    top: 535px;
}

.name-asthma {
    position: relative;
    right: 135px;
    top: -2px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 500;
    font-size: 44pt;
    text-align: right;
    color: #f16722;
}

/*===========================================*/

.date1-attention {
    position: relative;
    right: 135px;
    text-align: right;
    top: 464px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 600;
    font-size: 14pt;
}

.date2-attention {
    position: relative;
    left: 775px;
    bottom: 116px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
}


.signature1-attention {
    position: absolute;
    width: 130px;
    height: auto;
    left: 790px;
    top: 585px;
}

.name-attention {
    position: relative;
    right: 135px;
    top: 27px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 500;
    font-size: 44pt;
    text-align: right;
    color: #f16722;
}

/*===========================================*/

.date1-cannabis {
    position: relative;
    right: 135px;
    text-align: right;
    top: 439px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 600;
    font-size: 14pt;
}

.date2-cannabis {
    position: relative;
    left: 775px;
    bottom: 139px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
}


.signature1-cannabis {
    position: absolute;
    width: 150px;
    height: auto;
    left: 790px;
    top: 556px;
}

.name-cannabis {
    position: relative;
    right: 135px;
    top: -2px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 500;
    font-size: 44pt;
    text-align: right;
    color: #f16722;
}

/*===========================================*/

.date1-clozapine {
    position: relative;
    right: 135px;
    text-align: right;
    top: 440px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 600;
    font-size: 14pt;
}

.date2-clozapine {
    position: relative;
    left: 775px;
    bottom: 147px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
}


.signature1-clozapine {
    position: absolute;
    width: 130px;
    height: auto;
    left: 790px;
    top: 550px;
}

.name-clozapine {
    position: relative;
    right: 135px;
    top: -2px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 500;
    font-size: 44pt;
    text-align: right;
    color: #f16722;
}

/*===========================================*/

.date1-controlled-drugs-destruction {
    position: relative;
    right: 135px;
    text-align: right;
    top: 459px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 600;
    font-size: 14pt;
}

.date2-controlled-drugs-destruction {
    position: relative;
    left: 775px;
    bottom: 133px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
}


.signature1-controlled-drugs-destruction {
    position: absolute;
    width: 130px;
    height: auto;
    left: 790px;
    top: 564px;
}

.name-controlled-drugs-destruction {
    position: relative;
    right: 135px;
    top: 16px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 500;
    font-size: 44pt;
    text-align: right;
    color: #f16722;
}

/*===========================================*/

.date1-controlled-drugs-prisons {
    position: relative;
    right: 135px;
    text-align: right;
    top: 459px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 600;
    font-size: 14pt;
}

.date2-controlled-drugs-prisons {
    position: relative;
    left: 775px;
    bottom: 125px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
}


.signature1-controlled-drugs-prisons {
    position: absolute;
    width: 128px;
    height: auto;
    left: 790px;
    top: 574px;
}

.name-controlled-drugs-prisons {
    position: relative;
    right: 135px;
    top: 21px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 500;
    font-size: 44pt;
    text-align: right;
    color: #f16722;
}

/*===========================================*/

.date1-controlled-drugs {
    position: relative;
    right: 135px;
    text-align: right;
    top: 437px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 600;
    font-size: 14pt;
}

.date2-controlled-drugs {
    position: relative;
    left: 775px;
    bottom: 159px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
}


.signature1-controlled-drugs {
    position: absolute;
    width: 150px;
    height: auto;
    left: 790px;
    top: 535px;
}

.name-controlled-drugs {
    position: relative;
    right: 135px;
    top: -2px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 500;
    font-size: 44pt;
    text-align: right;
    color: #f16722;
}

/* Certificate 10 */
.date1-cyber-security {
    position: relative;
    right: 135px;
    text-align: right;
    top: 478px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 600;
    font-size: 14pt;
}

.date2-cyber-security {
    position: relative;
    left: 775px;
    bottom: 159px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
}

.signature1-cyber-security {
    position: absolute;
    width: 150px;
    height: auto;
    left: 790px;
    top: 535px;
}

.name-cyber-security {
    position: relative;
    right: 135px;
    top: 39px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 500;
    font-size: 44pt;
    text-align: right;
    color: #f16722;
}

/* Certificate 11 */
.date1-diabetes-mental-health {
    position: relative;
    right: 135px;
    text-align: right;
    top: 457px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 600;
    font-size: 14pt;
}

.date2-diabetes-mental-health {
    position: relative;
    left: 775px;
    bottom: 129px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
}

.signature1-diabetes-mental-health {
    position: absolute;
    width: 130px;
    height: auto;
    left: 790px;
    top: 565px;
}

.name-diabetes-mental-health {
    position: relative;
    right: 135px;
    top: 20px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 500;
    font-size: 44pt;
    text-align: right;
    color: #f16722;
}

/* Continue this pattern for each certificate */
/* Certificate 12 */
.date1-drug-interaction {
    position: relative;
    right: 135px;
    text-align: right;
    top: 430px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 600;
    font-size: 14pt;
}

.date2-drug-interaction {
    position: relative;
    left: 775px;
    bottom: 159px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
}

.signature1-drug-interaction {
    position: absolute;
    width: 150px;
    height: auto;
    left: 790px;
    top: 535px;
}

.name-drug-interaction {
    position: relative;
    right: 135px;
    top: -2px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 500;
    font-size: 44pt;
    text-align: right;
    color: #f16722;
}

/* Continue this pattern for each certificate */
/* Certificate 14 */
.date1-end-of-life-parkinsons {
    position: relative;
    right: 135px;
    text-align: right;
    top: 456px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 600;
    font-size: 14pt;
}

.date2-end-of-life-parkinsons {
    position: relative;
    left: 775px;
    bottom: 113px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
}

.signature1-end-of-life-parkinsons {
    position: absolute;
    width: 130px;
    height: auto;
    left: 790px;
    top: 585px;
}

.name-end-of-life-parkinsons {
    position: relative;
    right: 135px;
    top: 20px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 500;
    font-size: 44pt;
    text-align: right;
    color: #f16722;
}

/* Certificate 15 */
.date1-epilepsy-mental-health {
    position: relative;
    right: 135px;
    text-align: right;
    top: 450px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 600;
    font-size: 14pt;
}

.date2-epilepsy-mental-health {
    position: relative;
    left: 775px;
    bottom: 116px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
}

.signature1-epilepsy-mental-health {
    position: absolute;
    width: 130px;
    height: auto;
    left: 790px;
    top: 584px;
}

.name-epilepsy-mental-health {
    position: relative;
    right: 135px;
    top: 12px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 500;
    font-size: 44pt;
    text-align: right;
    color: #f16722;
}

/* Continue this pattern for each certificate */

/* Certificate 17 */
.date1-gdpr {
    position: relative;
    right: 135px;
    text-align: right;
    top: 532px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 600;
    font-size: 14pt;
}

.date2-gdpr {
    position: relative;
    left: 775px;
    bottom: 111px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
}

.signature1-gdpr {
    position: absolute;
    width: 130px;
    height: auto;
    left: 790px;
    top: 585px;
}

.name-gdpr {
    position: relative;
    right: 135px;
    top: 95px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 500;
    font-size: 44pt;
    text-align: right;
    color: #f16722;
}

/* Certificate 17 */
.date1-eworks {
    position: relative;
    right: 135px;
    text-align: right;
    top: 532px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 600;
    font-size: 14pt;
}

.date2-eworks {
    position: relative;
    left: 775px;
    bottom: 111px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
}

.signature1-eworks {
    position: absolute;
    width: 130px;
    height: auto;
    left: 790px;
    top: 585px;
}

.name-eworks {
    position: relative;
    right: 135px;
    top: 95px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 500;
    font-size: 44pt;
    text-align: right;
    color: #f16722;
}

/* Continue this pattern for each certificate */

/* Continue this pattern for each certificate */
/* Certificate 18 */
.date1-good-distribution-practice {
    position: relative;
    right: 135px;
    text-align: right;
    top: 530px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 600;
    font-size: 14pt;
}

.date2-good-distribution-practice {
    position: relative;
    left: 775px;
    bottom: 112px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
}

.signature1-good-distribution-practice {
    position: absolute;
    width: 130px;
    height: auto;
    left: 790px;
    top: 578px;
}

.name-good-distribution-practice {
    position: relative;
    right: 135px;
    top: 88px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 500;
    font-size: 44pt;
    text-align: right;
    color: #f16722;
}

/* Certificate 19 */
.date1-hca-medicines-administration {
    position: relative;
    right: 135px;
    text-align: right;
    top: 457px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 600;
    font-size: 14pt;
}

.date2-hca-medicines-administration {
    position: relative;
    left: 800px;
    bottom: 112px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
}

.signature1-hca-medicines-administration {
    position: absolute;
    width: 130px;
    height: auto;
    left: 790px;
    top: 585px;
}

.name-hca-medicines-administration {
    position: relative;
    right: 135px;
    top: 18px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 500;
    font-size: 44pt;
    text-align: right;
    color: #f16722;
}

/* Continue this pattern for each certificate */

/* Certificate 20 */
.date1-high-dose-antipsychotic {
    position: relative;
    right: 135px;
    text-align: right;
    top: 459px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 600;
    font-size: 14pt;
}

.date2-high-dose-antipsychotic {
    position: relative;
    left: 775px;
    bottom: 113px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
}

.signature1-high-dose-antipsychotic {
    position: absolute;
    width: 130px;
    height: auto;
    left: 800px;
    top: 590px;
}

.name-high-dose-antipsychotic {
    position: relative;
    right: 135px;
    top: 17px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 500;
    font-size: 44pt;
    text-align: right;
    color: #f16722;
}

/* Continue this pattern for each certificate */
/* Certificate 21 */
.date1-induction-to-ashtons {
    position: relative;
    right: 135px;
    text-align: right;
    top: 490px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 600;
    font-size: 14pt;
}

.date2-induction-to-ashtons {
    position: relative;
    left: 775px;
    bottom: 158px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
}

.signature1-induction-to-ashtons {
    position: absolute;
    width: 130px;
    height: auto;
    left: 790px;
    top: 539px;
}

.name-induction-to-ashtons {
    position: relative;
    right: 135px;
    top: 50px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 500;
    font-size: 44pt;
    text-align: right;
    color: #f16722;
}

/* Certificate 22 */
.date1-introduction-to-medication {
    position: relative;
    right: 135px;
    text-align: right;
    top: 454px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 600;
    font-size: 14pt;
}

.date2-introduction-to-medication {
    position: relative;
    left: 775px;
    bottom: 111px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
}

.signature1-introduction-to-medication {
    position: absolute;
    width: 130px;
    height: auto;
    left: 790px;
    top: 585px;
}

.name-introduction-to-medication {
    position: relative;
    right: 135px;
    top: 16px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 500;
    font-size: 44pt;
    text-align: right;
    color: #f16722;
}



/* Continue this pattern for each certificate */
/* Certificate 24 */
.date1-management-diabetes-end-of-life {
    position: relative;
    right: 135px;
    text-align: right;
    top: 473px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 600;
    font-size: 14pt;
}

.date2-management-diabetes-end-of-life {
    position: relative;
    left: 775px;
    bottom: 112px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
}

.signature1-management-diabetes-end-of-life {
    position: absolute;
    width: 130px;
    height: auto;
    left: 790px;
    top: 587px;
}

.name-management-diabetes-end-of-life {
    position: relative;
    right: 135px;
    top: 33px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 500;
    font-size: 44pt;
    text-align: right;
    color: #f16722;
}

/* Certificate 25 */
.date1-managing-oral-problems-palliative-care {
    position: relative;
    right: 135px;
    text-align: right;
    top: 468px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 600;
    font-size: 14pt;
}

.date2-managing-oral-problems-palliative-care {
    position: relative;
    left: 775px;
    bottom: 112px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
}

.signature1-managing-oral-problems-palliative-care {
    position: absolute;
    width: 130px;
    height: auto;
    left: 790px;
    top: 585px;
}

.name-managing-oral-problems-palliative-care {
    position: relative;
    right: 135px;
    top: 32px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 500;
    font-size: 44pt;
    text-align: right;
    color: #f16722;
}

/* Continue this pattern for each certificate */
/* Certificate 26 */
.date1-medicine-management {
    position: relative;
    right: 135px;
    text-align: right;
    top: 473px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 600;
    font-size: 14pt;
}

.date2-medicine-management {
    position: relative;
    left: 775px;
    bottom: 113px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
}

.signature1-medicine-management {
    position: absolute;
    width: 130px;
    height: auto;
    left: 790px;
    top: 585px;
}

.name-medicine-management {
    position: relative;
    right: 135px;
    top: 36px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 500;
    font-size: 44pt;
    text-align: right;
    color: #f16722;
}

/* Certificate 27 */
.date1-medicines-mental-health-act {
    position: relative;
    right: 135px;
    text-align: right;
    top: 475px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 600;
    font-size: 14pt;
}

.date2-medicines-mental-health-act {
    position: relative;
    left: 775px;
    bottom: 114px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
}

.signature1-medicines-mental-health-act {
    position: absolute;
    width: 130px;
    height: auto;
    left: 790px;
    top: 585px;
}

.name-medicines-mental-health-act {
    position: relative;
    right: 135px;
    top: 37px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 500;
    font-size: 44pt;
    text-align: right;
    color: #f16722;
}

/* Continue this pattern for each certificate */
/* Certificate 28 */
.date1-patient-group-directions {
    position: relative;
    right: 135px;
    text-align: right;
    top: 495px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 600;
    font-size: 14pt;
}

.date2-patient-group-directions {
    position: relative;
    left: 775px;
    bottom: 159px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
}

.signature1-patient-group-directions {
    position: absolute;
    width: 150px;
    height: auto;
    left: 790px;
    top: 535px;
}

.name-patient-group-directions {
    position: relative;
    right: 135px;
    top: 58px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 500;
    font-size: 44pt;
    text-align: right;
    color: #f16722;
}

/* Certificate 29 */
.date1-pharmacist-recognition-award {
    position: relative;
    right: 135px;
    text-align: right;
    top: 438px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 600;
    font-size: 14pt;
}

.date2-pharmacist-recognition-award {
    position: relative;
    left: 775px;
    bottom: 124px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
}

.signature1-pharmacist-recognition-award {
    position: absolute;
    width: 130px;
    height: auto;
    left: 790px;
    top: 575px;
}

.name-pharmacist-recognition-award {
    position: relative;
    right: 135px;right: 135px;
    top: -2px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 500;
    font-size: 44pt;
    text-align: right;
    color: #f16722;
}

/* Continue this pattern for each certificate */
/* Certificate 30 */
.date1-pharmacological-interventions-detoxification {
    position: relative;
    right: 135px;
    text-align: right;
    top: 498px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 600;
    font-size: 14pt;
}

.date2-pharmacological-interventions-detoxification {
    position: relative;
    left: 775px;
    bottom: 111px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
}

.signature1-pharmacological-interventions-detoxification {
    position: absolute;
    width: 130px;
    height: auto;
    left: 790px;
    top: 585px;
}

.name-pharmacological-interventions-detoxification {
    position: relative;
    right: 135px;
    top: 59px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 500;
    font-size: 44pt;
    text-align: right;
    color: #f16722;
}

/* Certificate 31 */
.date1-pharmacy-induction {
    position: relative;
    right: 135px;
    text-align: right;
    top: 495px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 600;
    font-size: 14pt;
}

.date2-pharmacy-induction {
    position: relative;
    left: 775px;
    bottom: 158px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
}

.signature1-pharmacy-induction {
    position: absolute;
    width: 130px;
    height: auto;
    left: 790px;
    top: 534px;
}

.name-pharmacy-induction {
    position: relative;
    right: 135px;
    top: 56px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 500;
    font-size: 44pt;
    text-align: right;
    color: #f16722;
}

/* Continue this pattern for each certificate */
/* Certificate 32 */
.date1-rapid-tranquillisation {
    position: relative;
    right: 135px;
    text-align: right;
    top: 459px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 600;
    font-size: 14pt;
}

.date2-rapid-tranquillisation {
    position: relative;
    left: 775px;
    bottom: 112px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
}

.signature1-rapid-tranquillisation {
    position: absolute;
    width: 130px;
    height: auto;
    left: 790px;
    top: 589px;
}

.name-rapid-tranquillisation {
    position: relative;
    right: 135px;
    top: 18px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 500;
    font-size: 44pt;
    text-align: right;
    color: #f16722;
}

/* Certificate 33 */
.date1-safer-medicines-administration {
    position: relative;
    right: 135px;
    text-align: right;
    top: 439px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 600;
    font-size: 14pt;
}

.date2-safer-medicines-administration {
    position: relative;
    left: 775px;
    bottom: 114px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
}

.signature1-safer-medicines-administration {
    position: absolute;
    width: 130px;
    height: auto;
    left: 790px;
    top: 585px;
}

.name-safer-medicines-administration {
    position: relative;
    right: 135px;
    top: -2px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 500;
    font-size: 44pt;
    text-align: right;
    color: #f16722;
}

/* Continue this pattern for each certificate */
/* Certificate 34 */
.date1-secondary-signatory-management-cds-dlms {
    position: relative;
    right: 135px;
    text-align: right;
    top: 463px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 600;
    font-size: 14pt;
}

.date2-secondary-signatory-management-cds-dlms {
    position: relative;
    left: 775px;
    bottom: 112px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
}

.signature1-secondary-signatory-management-cds-dlms {
    position: absolute;
    width: 130px;
    height: auto;
    left: 790px;
    top: 585px;
}

.name-secondary-signatory-management-cds-dlms {
    position: relative;
    right: 135px;
    top: 24px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 500;
    font-size: 44pt;
    text-align: right;
    color: #f16722;
}

/* Certificate 35 */
.date1-sleep-disorders {
    position: relative;
    right: 135px;
    text-align: right;
    top: 436px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 600;
    font-size: 14pt;
}

.date2-sleep-disorders {
    position: relative;
    left: 775px;
    bottom: 89px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
}

.signature1-sleep-disorders {
    position: absolute;
    width: 130px;
    height: auto;
    left: 790px;
    top: 609px;
}

.name-sleep-disorders {
    position: relative;
    right: 135px;
    top: -2px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 500;
    font-size: 44pt;
    text-align: right;
    color: #f16722;
}

/* Continue this pattern for each certificate */
/* Certificate 36 */
.date1-smoking-cessation-mental-health {
    position: relative;
    right: 135px;
    text-align: right;
    top: 437px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 600;
    font-size: 14pt;
}

.date2-smoking-cessation-mental-health {
    position: relative;
    left: 775px;
    bottom: 113px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
}

.signature1-smoking-cessation-mental-health {
    position: absolute;
    width: 130px;
    height: auto;
    left: 790px;
    top: 584px;
}

.name-smoking-cessation-mental-health {
    position: relative;
    right: 135px;right: 135px;
    top: -2px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 500;
    font-size: 44pt;
    text-align: right;
    color: #f16722;
}

/* Certificate 37 */
.date1-accountable-officer {
    position: relative;
    right: 135px;
    text-align: right;
    top: 439px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 600;
    font-size: 14pt;
}

.date2-accountable-officer {
    position: relative;
    left: 775px;
    bottom: 129px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
}

.signature1-accountable-officer {
    position: absolute;
    width: 130px;
    height: auto;
    left: 790px;
    top: 565px;
}

.name-accountable-officer {
    position: relative;
    right: 135px;
    top: -2px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 500;
    font-size: 44pt;
    text-align: right;
    color: #f16722;
}

/* Continue this pattern for each certificate */
/* Certificate 38 */
.date1-tto-dispensing-nurses {
    position: relative;
    right: 135px;
    text-align: right;
    top: 430px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 600;
    font-size: 14pt;
}

.date2-tto-dispensing-nurses {
    position: relative;
    left: 775px;
    bottom: 117px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
}

.signature1-tto-dispensing-nurses {
    position: absolute;
    width: 130px;
    height: auto;
    left: 790px;
    top: 581px;
}

.name-tto-dispensing-nurses {
    position: relative;
    right: 135px;
    top: -17px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 500;
    font-size: 44pt;
    text-align: right;
    color: #f16722;
}

/* Certificate 21 */
.date1-long-acting-antipsychotic {
    position: relative;
    right: 135px;
    text-align: right;
    top: 471px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 600;
    font-size: 14pt;
}

.date2-long-acting-antipsychotic {
    position: relative;
    left: 775px;
    bottom: 111px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
}

.signature1-long-acting-antipsychotic {
    position: absolute;
    width: 130px;
    height: auto;
    left: 790px;
    top: 585px;
}

.name-long-acting-antipsychotic {
    position: relative;
    right: 135px;
    top: 33px;
    font-family: "proxima-soft", sans-serif;
    font-weight: 500;
    font-size: 44pt;
    text-align: right;
    color: #f16722;
}
